body {
  overflow-y: scroll; /* Show vertical scrollbar */
  background-color:#101010;
  color:white;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
  }

.bg-green {
    background-color: lightgreen;
}

.configuration-location-wrapper {
  margin-bottom: 8px;
}

.configuration-location-title {
  display: inline;
  margin-right: 8px;
}

.configuration-location-action-button {
  margin-right: 8px;
}

.configuration-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configuration-header-title {
  margin-right: 8px;
  display: inline;
}

.configuration-header-action-button {
  margin-right: 8px;
}

.configuration-location-content-wrapper {
  margin-bottom: 8px;
}

.configuration-location-content-label {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  min-width: 80px;
}

tr:nth-child(even) {background: #181818 }
tr:nth-child(odd) {background: 	#202020 }

td{background:#282828; padding: 8px }